.banner{
    background-color:coral;
    width:100%;
    height:150px;
    margin-bottom:50px;
}

.banner-text{

    top:150px;
    left:50%;
    position:sticky;
    transform:transform;
    text-align:center;
}